.admin-sidebar {
  width: 200px;
  background: linear-gradient(135deg, #60cbeb 0%, #4b9ea2eb 100%);
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 1000;
  transition: transform 0.3s ease;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  padding: 25px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.sidebar-close-btn {
  display: none;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 24px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-close-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.sidebar-nav {
  flex: 1;
  padding: 20px 0;  
  overflow-y: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 20px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.375);
}

.nav-item:hover {
  background: rgba(87, 155, 194, 0.453);
  color: white;
}

.nav-item.active {
  background: #2563eb;
  color: #ffffff;
  /* background: rgba(255, 255, 255, 0.15);
  color: white;
  border-left: 4px solid white; */
}

.nav-item.active .nav-icon {
  transform: scale(1.1);
}

.nav-icon {
  font-size: 20px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-text {
  flex: 1;
}

.sidebar-footer {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logout-sidebar-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  justify-content: center;
  background: rgba(106, 193, 215, 0.702);
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  color: white;
  border: none;
  width: 50%;
  font-size: 15px;
  /* font-weight: 600; */
  border-radius: 8px;
}

.logout-sidebar-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .admin-sidebar {
    transform: translateX(-100%);
  }

  .admin-sidebar.open {
    transform: translateX(0);
  }

  .sidebar-close-btn {
    display: block;
  }
}