
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
    /* line-height: 1.6; */
}

.header{
    /* text-align: center; */
   
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #3290b3;
    color: #333;
    /* margin:0 20px 0 20px; */
}
.header h1{
    font-size: 26px;
    font-weight: bold;
    margin: 12px;
    padding: 0;
}
.header p{
    font-size: 16px;
    margin: 5px;
    padding: 0;
}

.header-btn{
    margin-right: 20px;
}

.apply-btn{
    background-color: #cedbdd; /* Green */
    border: none;
    color: rgb(35, 146, 206);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.apply-btn:hover{
    background-color: #fdffff;
    transform: scale(1, 1);
}